<html>
    <header>
        <title>Node JS sinple web Scrapper</title>
    </header>
    <body>
        <form action="/scrape" method="POST">
            <input type="text" name="url" placeholder="Input sites name">
            <input type="submit" value="submit">
        </form>
    </body>
</html>